.header {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-left: 0;
  margin-right: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 30px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
